body {
  background-color: white;
  padding: 25px;
}

.white-on-black {
  background-color: black;
  color: white;
}

.page-section {
  background-color: grey;
  color: black;
  margin-top: 25px;
  padding: 25px;
}

.page-section * {
  margin: 5px;
}

.page-section h1 {
  text-align: center;
}
